<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="effortlessenglish.estorm.vn.effortlessenglish" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".EffortlessApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Base.BaseActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".Activity.MenuActivity"
            android:label="@string/title_activity_menu" />
        <activity
            android:name=".Activity.PlayerActivity"
            android:label="@string/title_activity_player" />
        <activity
            android:name=".Activity.SubMenuActivity"
            android:label="@string/title_activity_sub_menu" >
        </activity>

        <service android:name=".Services.PlayerService" />

        <activity
            android:name=".Activity.LessionActivity"
            android:label="@string/title_activity_lession" >
        </activity>
    </application>

</manifest>
